{{#> layouts/base }} {{#*inline "content-block"}}
<div class="container">
    <div class="card col-12">
        <div class="card-header">Willkommen bei {{ gangName }}</div>
        <div class="card-body">
            Es dauert noch {{ timeUntilFull }} Stunden, bis das Lager voll ist!
        </div>
    </div>
</div>
{{/inline}} {{/layouts/base}}
