{{#> layouts/base }} {{#*inline "content-block"}}
<div class="container">
    <div class="card col-12">
        <div class="card-header">Willkommen bei {{ gangName }}</div>
        <div class="card-body">
            <p class="card-text">
                <center><b>Moin</b></center>
            </p>
        </div>
    </div>
</div>
{{/inline}} {{/layouts/base}}
