{{#> layouts/base }} {{#*inline "content-block"}}
<div class="container">
    <div class="card col-12">
        <div class="card-header">Wilkommen bei {{ gangName }}</div>
        <div class="card-body">
            <p class="card-text">
                <center><b>Falls du nur diese Seite siehst, melde dich bitte bei einem Leader!</b></center>
            </p>
        </div>
    </div>
</div>
{{/inline}} {{/layouts/base}}
