{{#> layouts/base }} {{#*inline "content-block"}}

<div class="container">
    <div class="card col-12">
        <div class="card-header">
            <div class="card-title">
                Aktionstyp bearbeiten {{thisOpType.name}}
                <a href="/leader/operationTypes" class="btn btn-outline-secondary float-end"><i class="fa fa-arrow-left"></i></a>
            </div>
        </div>
        <div class="card-body">
            <form method="post">
                <div class="form-group">
                    <label for="inputName">Name</label>
                    <input type="text" class="form-control" id="inputName" placeholder="" name="name" value="{{thisOpType.name}}" required />
                </div>
                <br />
                <div class="form-group">
                    <label for="inputPoints">Punkte pro Eintrag</label>
                    <input type="number" min="0" step="1" class="form-control" id="inputPoints" placeholder="z.B. 15" name="points" value="{{thisOpType.points}}" required />
                </div>
                <br />
                <button type="submit" class="btn btn-primary">Speichern</button>
            </form>
        </div>
    </div>
</div>

{{/inline}} {{/layouts/base}}
