# Bestehende Variablen (aus vorherigem Beispiel)
NODE_ENV=production
PORT=3000
DOMAIN=
redirectUri=https://${DOMAIN}/login/callback
DB_USERNAME=root
DB_PASSWORD=
DB_DATABASE=tracker
DB_HOST=mysql-db-tracker
CLIENT_ID=
CLIENT_SECRET=

# für config.js
GANG_NAME=Dein Gang Name
YOUR_DISCORD_WEBHOOK=https://discord.com/api/webhooks/...
YOUR_VIO_GROUP_ID=123456789
YOUR_NOTIFY_DISCORD_WEBHOOK=https://discord.com/api/webhooks/...
YOUR_DC_PING_ROLE=123456789
