# Bestehende Variablen (aus vorherigem Beispiel)
NODE_ENV=production
PORT=3000
DOMAIN=
redirectUri=https://${DOMAIN}/login/callback
DB_USERNAME=root
DB_PASSWORD=
DB_DATABASE=tracker
DB_HOST=mysql-db-tracker
DB_PORT=3306
CLIENT_ID=
CLIENT_SECRET=

# für config.js
# 'gang' = Gangwar-Gebiete tracken (/group/areas)
# 'squad' = Fabriken tracken (/group/own_factories)
GROUP_TYPE=gang
GANG_NAME=Dein Gang Name
VIO_GROUP_ID=1234
DISCORD_WEBHOOK=https://discord.com/api/webhooks/...
NOTIFY_DISCORD_WEBHOOK=https://discord.com/api/webhooks/...
DC_PING_ROLE=123456789
CUSTOM_ATTACK_MESSAGE=


