{{#> layouts/base }} {{#*inline "content-block"}}

<div class="container">
    <div class="card col-12">
        <div class="card-header">
            <div class="card-title">
                Rang bearbeiten {{thisRole.name}}
                <a href="/leader/roles" class="btn btn-outline-secondary float-end"><i class="fa fa-arrow-left"></i></a>
            </div>
        </div>
        <div class="card-body">
            <form method="post">
                <div class="form-group">
                    <label for="inputName">Name</label>
                    <input type="text" class="form-control" id="inputName" placeholder="" name="name" value="{{thisRole.name}}" required />
                </div>
                <br />
                <div class="form-group">
                    <label for="inputPermission">Ingame Rang Nummer</label>
                    <input type="number" min="0" max="15" step="1" class="form-control" id="inputPermission" name="permissionLevel" value="{{thisRole.permissionLevel}}" required />
                </div>
                <br />
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="isLeader" name="isLeader" {{#if thisRole.isLeader}} checked {{/if}}/>
                    <label class="form-check-label" for="flexSwitchCheckDefault">Leader</label>
                </div>
                <br />
                <button type="submit" class="btn btn-primary">Speichern</button>
            </form>
        </div>
    </div>
</div>

{{/inline}} {{/layouts/base}}
